
.register {
    width: 600px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 5px;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.register > input {
    border-radius: 5px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 95%;
    font-size: 1rem;
}

.register > .button {
    background: #f23918;
    border: 1px solid #f23918;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}